@media print {
    .non-printable-content {
        display: none !important;
    }
    div.divFooter {
        position: fixed;
        bottom: 0;
        right: 0;
        break-after: always;
        background-color: white;
    }
}
@media screen {
    div.divFooter {
        display: none;
    }
}

.pageBreak{
        break-inside: avoid;
}

.breakBefore{
    page-break-before: always;
}

